<div class="nav-container">
    <a id="top"></a>
    <nav class="absolute transparent">
        <div class="nav-bar">
            <div class="module left">
                <!-- Logo Light-->
                <%= image_tag("logo/ratafire_clean.png", class:"logo logo-light", alt:"Ratafire") %>
                <!-- Logo Dark-->
                <%= image_tag("logo/ratafire_clean.png", class:"logo logo-dark", alt:"Ratafire")%>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <!-- Module-group Left-->
            <div class="module-group left">
                <div class="module left">
                    <ul class="menu">
                        <!-- Example of Has Dropdown-->
                        <!--
                        <li class="has-dropdown">
                        </li>-->
                        <!-- Home-->
                        <li>
                            <%= link_to root_path do %>
                               <span class="ti-home menu-icon"></span>Home
                            <% end %>
                        </li>
                        <!-- Back Creators -->
                        <script>
                            $(document).ready(function() {
                                $('.tooltip2').tooltipster();
                            });
                        </script>
                        <li>
                            <a href="#" title="Coming soon!" class="tooltip2">
                               <span class="ti-heart menu-icon"></span>Back Creators
                            </a>
                        </li>   
                        <!-- Explore -->
                        <li>
                            <a href="#" title="Coming soon!" class="tooltip2">
                               <span class="ti-target menu-icon"></span>Explore
                            </a>
                        </li>   
                        <!-- Blog -->
                        <li>
                            <%= link_to 'https://ratafire.com/blog/' do %>
                               <span class="ti-rss-alt menu-icon"></span>Blog
                            <% end %>
                        </li>     
                    </ul>
                </div>
            </div><!-- end .module-group left-->    
            <!-- Module-group Right-->
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <!-- Sign up button -->
                        <li>
                            <a href="https://ratafire.leadpages.co/leadbox/143044973f72a2%3A13ebd7006f46dc/5719238044024832/" target="_blank"><span class="btn btn-sm btn-blue btn-rounded">Get Beta Week Invitation</span></a><script data-leadbox="143044973f72a2:13ebd7006f46dc" data-url="https://ratafire.leadpages.co/leadbox/143044973f72a2%3A13ebd7006f46dc/5719238044024832/" data-config="%7B%7D" type="text/javascript" src="https://ratafire.leadpages.co/leadbox-942.js"></script>
                        </li>    
                    </ul>    
                </div><!-- end .module left-->    
            </div><!--end .module-group right-->
        </div><!-- end .nav-bar-->
    </nav>			
</div>	